@mixin title {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    opacity: 0.8;
}

.airlines {
    background: linear-gradient(180deg, #5DA2D3 0%, rgba(118, 179, 223, 0.00) 100%), url("/assets/airport.png"), lightgray 0px 259.354px / 100% 118.186% no-repeat;

    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    height: 100%;

    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

    .logo {
        width: 260px;
        margin: 100px 0;
    }

    .form {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;

        .route {
            display: flex;
            width: 740px;
            align-items: flex-start;
            gap: 10px;

            .waypoint {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;

                &>span {
                    @include title;
                }

                .input {
                    display: flex;
                    padding: 15px;
                    justify-content: space-between;
                    align-items: flex-start;
                    align-self: stretch;

                    background: #FFF;

                    .city {
                        color: #000;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                    }

                    .airport {
                        color: #000;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;

                        opacity: 0.4;
                    }
                }

                &.from .input {
                    border-radius: 10px 0px 0px 10px;
                }

                &.to .input {
                    border-radius: 0px 10px 10px 0px;

                    color: black;
                }
            }
        }

        .controls {
            display: flex;
            width: 740px;
            align-items: flex-start;
            gap: 10px;

            .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;

                &>span {
                    @include title;
                }

                .input {
                    display: flex;
                    padding: 15px;
                    align-items: flex-start;
                    align-self: stretch;
                    background: #FFF;

                    color: #000;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }

                &.date .input {
                    border-radius: 10px 0px 0px 10px;
                }

                &.seat .input {
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
    }


    button {
        margin-top: 80px;

        display: flex;
        width: 240px;
        height: 60px;
        padding: 19px 45px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        border-radius: 10px;
        border: none;
        background: #000;

        color: #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;

        cursor: pointer;
    }

    .passenger {
        position: absolute;
        bottom: 80px;
        right: 80px;

        display: inline-flex;
        padding: 30px 20px 20px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        border-radius: 10px;
        background: #FFF;

        h2 {
            margin: 0;
            align-self: stretch;

            color: #000;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
        }

        .fields {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;

            .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                flex: 1 0 0;

                h4 {
                    margin: 0;

                    color: #000;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;

                    opacity: 0.6;
                }

                span {
                    color: #000;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }
            }
        }

        .divider {
            margin: 0;

            width: 213px;
            height: 1px;
            opacity: 0.1;
            background: #000;
        }

        .verified {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;

            img {
                width: 20px;
                height: 20px;
                fill: #1DCE00;
            }

            p {
                margin: 0;

                color: #000;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
            }
        }
    }

    .modal-wrapper {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        background: rgba(0, 0, 0, 0.30);

        .modal {
            display: inline-flex;
            padding: 40px;
            align-items: flex-start;
            gap: 30px;

            border-radius: 10px;
            background: #FFF;

            img {
                width: 80px;
                height: 80px;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                h3 {
                    margin: 0;

                    align-self: stretch;

                    color: #1F1F1F;
                    font-family: Poppins;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    margin: 0;

                    align-self: stretch;

                    color: #1F1F1F;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}