.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    background-color: lightblue;

    text-align: end;
    color: #2F2F2F;
    padding: 20px 50px;

    box-sizing: border-box;
}